kestra/flow.yml
id: heisenberg_protocol
namespace: dev.hackathon

inputs:
  - id: target_url
    type: STRING
    defaults: "https://boom-heisenberg.vercel.app/api/victim"

tasks:
  # STEP 1: Generate Attack Script
  - id: generate_attack_script
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import os
      
      k6_script = """
      import http from 'k6/http';
      import { check, sleep } from 'k6';

      export let options = {
        stages: [{ duration: '5s', target: 5 }],
        thresholds: { 'http_req_failed': ['rate<0.1'] },
      };

      export default function () {
        let res = http.get('{{ inputs.target_url }}?q=chaos'); 
        check(res, { 'status was 200': (r) => r.status == 200 });
        sleep(1);
      }
      
      export function handleSummary(data) {
        return { 'summary.json': JSON.stringify(data) };
      }
      """
      
      with open("attack.js", "w") as f:
          f.write(k6_script)
      os.chmod("attack.js", 0o777)
    outputFiles:
      - attack.js

  # STEP 2: Run k6 (Allow Failure so we can score it)
  - id: launch_missiles
    type: io.kestra.plugin.docker.Run
    containerImage: grafana/k6
    user: root
    
    # 🟢 NEW: Allow the task to 'fail' (code 99) but keep the flow running
    allowFailure: true
    
    commands:
      - run
      - "--summary-export={{ workingDir }}/summary.json"
      - "{{ workingDir }}/attack.js"
    inputFiles:
      attack.js: "{{ outputs.generate_attack_script.outputFiles['attack.js'] }}"
    outputFiles:
      - summary.json

  # STEP 3: Calculate Score
  - id: calculate_score
    type: io.kestra.plugin.scripts.python.Script
    inputFiles:
      summary.json: "{{ outputs.launch_missiles.outputFiles['summary.json'] }}"
    script: |
      import json
      
      try:
          with open("summary.json", "r") as f:
              data = json.load(f)
          
          # Metrics logic
          fail_rate = data['metrics']['http_req_failed']['values']['rate']
          score = int((1.0 - fail_rate) * 100)
          
          print(f"FAILURE RATE: {fail_rate}")
          print(f"::POUT key=resilience_score::{score}")
          
      except Exception as e:
          print(f"Error calculating score: {e}")
          print("::POUT key=resilience_score::0")